.search-section {
  padding: 40px 0px;
}

button {
  width: fit-content;
  height: 50px;
  background: lightgray;
  border: 3px black;
}

select {
  width: fit-content;
  height: 50px;
  text-align: center;
  background: lightgray;
  border: 3px black;
  margin-left: 10px;
  margin-right: 30px;
}

.episode-card {
  border: 2px solid rgba(0, 0, 0, 0.284);
  border-radius: 10px;
  box-shadow: 20px 20px 10px lightgrey;
  width: 300px;
  margin: 15px;
  padding: 5px;
  background: white;
}
.episode-card h3 {
  border: 2px solid pink;
  margin: 2px auto;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}
.episode-cards {
  text-align: center;
  background: rgb(243, 247, 249);
  padding: 100px 0;
}
.flex-box {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  border-top: 5px solid black;
}
