body { 
  margin: 0;   /* Remove body margins */
}
.search-section {
  padding: 40px 0px;
  background-color: #536878;

  text-align: center;

}
.display-amount{
  text-align: left;
  border: solid 2px #536878;
  width: fit-content;
  padding: 7px;
  background-color: #536878;
  color: lightgrey;
  border-radius: 10px;
}
.show-selection{
  text-align: center;
  background: #8ba0af;
  padding: 20px;
  
}
button {
  width: fit-content;
  height: 50px;
  background: lightgray;
  border: 3px black;
  border-radius: 10px;
}
input{
  padding: 10px;
}

select {
  width: fit-content;
  height: 50px;
  text-align: center;
  background: lightgray;
  border: 3px black;
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 10px;
}
input{
  border-radius: 10px;
}
.episode-card {
  border: 2px solid rgba(0, 0, 0, 0.284);
  border-radius: 10px;
  box-shadow: 20px 20px 10px lightgrey;
  width: 300px;
  margin: 15px;
  padding: 5px;
  background: white;
}
.episode-card h3 {
  border: 2px solid pink;
  margin: 2px auto;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}
.episode-cards {
  text-align: center;
  background: rgb(243, 247, 249);
  padding: 30px 10px;
}
.episode-card {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.listOfShows{
  padding: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

footer {
  border-top: 5px solid black;
}
.showCard {
  
  display: flex;
}

.showCardWithTitle {
  text-align: center;
  border: 3px solid black;
  padding: 60px 20px;
}
.showCard:not(:last-of-type) {
  margin-bottom: 10px;
}

.showCardInfo {
  float: right;
}

/*not working
.listOfShows{
  border: 10px solid red;
  padding: 100px;
}*/
